body {

    font-family: Arial, sans-serif;

    background-color: #f2f2f2;

    margin: 0;

}


#cabecalho {

    background-color: #1f4e79;

    color: white;

    text-align: center;

    padding: 30px;

}


.secao {

    background-color: white;

    width: 900px;

    margin: 30px auto;

    padding: 20px;

    border: 1px solid #cccccc;

    border-radius: 8px;

}

.exemplo-block {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #aed6f1;
    border: 1px solid #2980b9;
    margin: 10px;
    padding: 10px;
}

.exemplo-inline {
    display: inline;
    background-color: #aed6f1;
    border: 1pxsolid #239b56;
    width: 500px;
    height: 100px;
    padding: 30px;
}

.exemplo-inline-block {
    display: inline-block;
    background-color: #f5b7b1;
    border: 1px solid #c0392b;
    width: 150px;
    height: 60px;
}

.item {
    background-color: #5dade2;
    color: white;
    border: 2px solid #21618c;
    padding: 20px;
}

.flex-basico {
    display: flex;
    border: 3px solid #333;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    border: 3px solid #333;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    border: 3px solid #333;
    padding: 10px;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
    border: 3px solid #333;
    padding: 10px;
}
.flex-justify-between {
    display: flex;
    justify-content: space-between;
    border: 3px solid #333;
    padding: 10px;
}

.flex-align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 3px solid #333;
    padding: 20px;
}

.flex-gap {
    display: flex;
    border: 3px solid #333;
    padding: 20px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 200px;
    height: 100px;
    background-color: #418fdc;
    border: 2px solid #1e53a8;
    padding: 20px;
    color: black;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #333;
    padding: 20px;
    gap: 20px;
}

.produtos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    width: 220px;
    background-color: #e4e2e2d4;
    border: 1px solid #21618c;
    border-radius: 10px;
    padding: 20px;
}

.produto h3 {
    color: #7f07a1ab;
    font-size: 24px;
}

.preco {
    color: #465f45d8;
    font-size: 20px;
    font-weight: bold;
}